name: Playwright 自动化测试
on:
  workflow_dispatch:
    inputs:
      id:
        description: 'run identifier'
        required: false
  repository_dispatch:
    types: ["dispatch-from-llvm", "run-my-tests-2"]
jobs:
  run_automation_tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      TARGET_REPO_FULL_NAME: ${{ github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name || github.event.client_payload.repo }}
    steps:
      - name: ${{ github.event_name == 'repository_dispatch' && github.event.client_payload.id }}
        run: |
          if [ "${{ github.event_name }}" = 'repository_dispatch' ]; then
            echo "run identifier ${{ github.event.client_payload.id }}"
          else
            echo "run identifier pull_request"
          fi
          echo ${{ (github.event_name == 'pull_request_target' && contains(github.event.pull_request.labels.*.name, 'AArch64')) || (github.event_name == 'repository_dispatch' && contains(github.event.client_payload.labels, 'AArch64') }}
          echo ${{ (github.event_name == 'pull_request_target' && contains(github.event.pull_request.labels.*.name, 'RISC-V')) || (github.event_name == 'repository_dispatch' && contains(github.event.client_payload.labels, 'RISC-V')) }}
      - name: 运行 Playwright 测试
        run: |
          echo "环境: $TARGET_REPO_FULL_NAME"
          echo "GitHub 事件是: ${{ github.event_name }}"
          echo "在这里运行测试"
          echo "Action 中的以下步骤提供了你可以在脚本中使用的内容"
      - name: 输出 GitHub 上下文
        id: github_context_step
        # 以下内容会打印出所有可用于任何报告或从其他代码库运行测试的信息
        run: echo '${{ toJSON(github) }}'
